h1 {
    font-size: 4rem;
    text-align: center;
}

.content a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.content a:hover {
    transform: scale(1.1);
    color: blue;
}