.teams {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;

}

.team {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
}